extends layout
block banner
  include header
block content
  - if (contenido.banners)
    include banner
  - else if (contenido.video)
    include video
  div#contenido(class="#{contenido.id}")
    include social
    h2.titulo_biblio
      - if (contenido.subtitulo)
        | #{contenido.subtitulo}
      - else
        | Documentos relacionados
    include libros
