extends layout
block banner
  include header
block content
  include banner

  div#contenido(class="#{contenido.id}")
    include social
    h2.titulo_biblio Documentos relacionados
    include libros
