link(rel="stylesheet",href="#{glb.rdir}/css/style.css")
script(src="#{glb.rdir}/js/nrn-dsn.js")
ul#nrno-menu
  - each link, index in db.menu
    li
      a(href=link.link,title=link.titulo)= link.titulo
