//@import url('http://fonts.googleapis.com/css?family=Ubuntu')
//@import url('http://fonts.googleapis.com/css?family=Questrial')

@import 'nib'

@import './mixin'
@import './variables'

//@import './stylus/bootstrap/variables'
//@import './stylus/bootstrap/mixins'
//@import './stylus/bootstrap/normalize'

//@import './stylus/eficon'
//@import './stylus/mybootstrap'
@import './estructura'
//@import './stylus/animations.styl'