@import url("https://fonts.googleapis.com/css?family=Merriweather");
@import url("https://fonts.googleapis.com/css?family=Lato");
#banner html,
#content html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
#banner body,
#content body {
  margin: 0;
}
#banner article,
#content article,
#banner aside,
#content aside,
#banner details,
#content details,
#banner figcaption,
#content figcaption,
#banner figure,
#content figure,
#banner footer,
#content footer,
#banner header,
#content header,
#banner hgroup,
#content hgroup,
#banner main,
#content main,
#banner menu,
#content menu,
#banner nav,
#content nav,
#banner section,
#content section,
#banner summary,
#content summary {
  display: block;
}
#banner audio,
#content audio,
#banner canvas,
#content canvas,
#banner progress,
#content progress,
#banner video,
#content video {
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: baseline;
}
#banner audio:not([controls]),
#content audio:not([controls]) {
  display: none;
  height: 0;
}
#banner [hidden],
#content [hidden],
#banner template,
#content template {
  display: none;
}
#banner a,
#content a {
  background-color: transparent;
}
#banner a:active,
#content a:active,
#banner a:hover,
#content a:hover {
  outline: 0;
}
#banner abbr[title],
#content abbr[title] {
  border-bottom: 1px dotted;
}
#banner b,
#content b,
#banner strong,
#content strong {
  font-weight: bold;
}
#banner dfn,
#content dfn {
  font-style: italic;
}
#banner h1,
#content h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
#banner mark,
#content mark {
  background: #ff0;
  color: #000;
}
#banner small,
#content small {
  font-size: 80%;
}
#banner sub,
#content sub,
#banner sup,
#content sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
#banner sup,
#content sup {
  top: -0.5em;
}
#banner sub,
#content sub {
  bottom: -0.25em;
}
#banner img,
#content img {
  border: 0;
}
#banner svg:not(:root),
#content svg:not(:root) {
  overflow: hidden;
}
#banner figure,
#content figure {
  margin: 1em 40px;
}
#banner hr,
#content hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  -o-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
#banner pre,
#content pre {
  overflow: auto;
}
#banner code,
#content code,
#banner kbd,
#content kbd,
#banner pre,
#content pre,
#banner samp,
#content samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
#banner button,
#content button,
#banner input,
#content input,
#banner optgroup,
#content optgroup,
#banner select,
#content select,
#banner textarea,
#content textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
#banner button,
#content button {
  overflow: visible;
}
#banner button,
#content button,
#banner select,
#content select {
  text-transform: none;
}
#banner button,
#content button,
#banner html input[type="button"],
#content html input[type="button"],
#banner input[type="reset"],
#content input[type="reset"],
#banner input[type="submit"],
#content input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
#banner button[disabled],
#content button[disabled],
#banner html input[disabled],
#content html input[disabled] {
  cursor: default;
}
#banner button::-moz-focus-inner,
#content button::-moz-focus-inner,
#banner input::-moz-focus-inner,
#content input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
#banner input,
#content input {
  line-height: normal;
}
#banner input[type="checkbox"],
#content input[type="checkbox"],
#banner input[type="radio"],
#content input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
#banner input[type="number"]::-webkit-inner-spin-button,
#content input[type="number"]::-webkit-inner-spin-button,
#banner input[type="number"]::-webkit-outer-spin-button,
#content input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
#banner input[type="search"],
#content input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  -o-box-sizing: content-box;
  box-sizing: content-box;
}
#banner input[type="search"]::-webkit-search-cancel-button,
#content input[type="search"]::-webkit-search-cancel-button,
#banner input[type="search"]::-webkit-search-decoration,
#content input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
#banner fieldset,
#content fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
#banner legend,
#content legend {
  border: 0;
  padding: 0;
}
#banner textarea,
#content textarea {
  overflow: auto;
}
#banner optgroup,
#content optgroup {
  font-weight: bold;
}
#banner table,
#content table {
  border-collapse: collapse;
  border-spacing: 0;
}
#banner td,
#content td,
#banner th,
#content th {
  padding: 0;
}
html {
  background: #f4f2ef;
  min-width: 960px;
}
html.show-popUp,
body.show-popUp {
  overflow: hidden !important;
}
#banner,
#content {
  font-family: lato, arial, sans-serif;
  line-height: 1.3em;
  font-size: 14px;
}
#banner h1,
#content h1,
#banner h2,
#content h2,
#banner h3,
#content h3,
#banner h4,
#content h4,
#banner h5,
#content h5,
#banner h6,
#content h6 {
  font-family: Merriweather, serif;
  text-shadow: none;
  color: #110101;
  padding: 10px 0;
  margin: 10px auto;
  font-weight: normal;
  line-height: 1em;
}
#banner > div,
#content > div {
  padding: 0 10px;
  max-width: 940px;
  margin: auto;
}
#banner > div > *,
#content > div > * {
  margin-left: -1px !important;
}
#banner a {
  color: #000;
}
#nrno-popUp {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  background-color: #ccc;
  background-color: rgba(255,255,255,0.9);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: ease-in-out 750ms all;
  -moz-transition: ease-in-out 750ms all;
  -ms-transition: ease-in-out 750ms all;
  -o-transition: ease-in-out 750ms all;
  transition: ease-in-out 750ms all;
  z-index: 10000;
}
.show-popUp #nrno-popUp {
  display: block;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-animation: loadingShow ease-in-out 750ms;
  -moz-animation: loadingShow ease-in-out 750ms;
  -ms-animation: loadingShow ease-in-out 750ms;
  -o-animation: loadingShow ease-in-out 750ms;
  animation: loadingShow ease-in-out 750ms;
}
.hide-popUp #nrno-popUp {
  display: block;
  -webkit-animation: loadingHide ease-in-out 750ms;
  -moz-animation: loadingHide ease-in-out 750ms;
  -ms-animation: loadingHide ease-in-out 750ms;
  -o-animation: loadingHide ease-in-out 750ms;
  animation: loadingHide ease-in-out 750ms;
}
#nrno-popUp .modal-cont {
  background: #110101;
  background: rgba(0,0,0,0.75);
  padding: 10px;
  margin: auto;
  left: 25%;
  right: 25%;
  top: 5%;
  bottom: 5%;
  position: absolute;
  -webkit-box-shadow: rgba(0,0,0,0.5) 0 0 12px 0;
  -moz-box-shadow: rgba(0,0,0,0.5) 0 0 12px 0;
  -ms-box-shadow: rgba(0,0,0,0.5) 0 0 12px 0;
  -o-box-shadow: rgba(0,0,0,0.5) 0 0 12px 0;
  box-shadow: rgba(0,0,0,0.5) 0 0 12px 0;
  color: #fff;
}
#nrno-popUp #popup-quit {
  display: block;
  float: right;
  background: rgba(102,102,102,0);
  width: 20px;
  height: 20px;
  color: #fff;
  font-size: 24px;
  opacity: 0.75;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  filter: alpha(opacity=75);
  cursor: pointer;
  text-align: center;
  margin: auto 10px;
  -webkit-transition: ease-in-out 250ms all;
  -moz-transition: ease-in-out 250ms all;
  -ms-transition: ease-in-out 250ms all;
  -o-transition: ease-in-out 250ms all;
  transition: ease-in-out 250ms all;
}
#nrno-popUp #popup-quit:hover {
  background: rgba(102,102,102,0.33);
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
#nrno-popUp #popUp-iframe {
  -webkit-box-shadow: rgba(0,0,0,0.5) 0 0 12px 0;
  -moz-box-shadow: rgba(0,0,0,0.5) 0 0 12px 0;
  -ms-box-shadow: rgba(0,0,0,0.5) 0 0 12px 0;
  -o-box-shadow: rgba(0,0,0,0.5) 0 0 12px 0;
  box-shadow: rgba(0,0,0,0.5) 0 0 12px 0;
  background: #fff;
  margin: auto;
  position: absolute;
  left: 20px;
  right: 20px;
  top: 40px;
  bottom: 20%;
  overflow: auto;
}
#nrno-popUp #popUp-iframe > iframe,
#nrno-popUp #popUp-iframe > img {
  min-width: 100%;
  min-height: 100%;
  height: auto;
  display: none;
}
#nrno-popUp #popUp-pie {
  margin: auto;
  position: absolute;
  left: 20px;
  right: 20px;
  top: 80%;
  bottom: 10px;
  padding-top: 20px;
  text-align: justify;
}
#content h1 {
  color: #ffa500;
}
#content a {
  color: #80b8e4;
}
ul#nrno-menu {
  display: inline-block;
  zoom: 1;
  *display: inline;
  list-style: none;
  margin: auto;
  padding: 0;
}
ul#nrno-menu li {
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 12.4%;
  margin: auto;
  vertical-align: top;
  border-top: 1px solid #323232;
  border-bottom: 1px solid #323232;
}
ul#nrno-menu li + li {
  border-left: 1px solid #323232;
}
ul#nrno-menu li a {
  background: #e75f3b url("../img/bg-menu.png") center 90% no-repeat;
  color: #fff;
  display: block;
  display: flex;
  text-align: center;
  height: 100px;
  line-height: 100px;
  width: 100%;
  -webkit-transition: ease-in-out 250ms all;
  -moz-transition: ease-in-out 250ms all;
  -ms-transition: ease-in-out 250ms all;
  -o-transition: ease-in-out 250ms all;
  transition: ease-in-out 250ms all;
  font-family: Merriweather, serif;
  font-size: 0.9em;
  font-weight: lighter;
  -webkit-box-shadow: rgba(0,0,0,0) 0 0 0;
  -moz-box-shadow: rgba(0,0,0,0) 0 0 0;
  -ms-box-shadow: rgba(0,0,0,0) 0 0 0;
  -o-box-shadow: rgba(0,0,0,0) 0 0 0;
  box-shadow: rgba(0,0,0,0) 0 0 0;
  position: relative;
  text-decoration: none;
}
ul#nrno-menu li a:hover {
  z-index: 1;
  background-color: #ed876c;
  background-position-y: 95%;
  -webkit-box-shadow: rgba(0,0,0,0.5) 0 4px 12px 0;
  -moz-box-shadow: rgba(0,0,0,0.5) 0 4px 12px 0;
  -ms-box-shadow: rgba(0,0,0,0.5) 0 4px 12px 0;
  -o-box-shadow: rgba(0,0,0,0.5) 0 4px 12px 0;
  box-shadow: rgba(0,0,0,0.5) 0 4px 12px 0;
}
ul#nrno-menu li a:active,
ul#nrno-menu li a.active {
  background-color: #672b1a;
}
ul#nrno-menu li a.destacada {
  background-color: #068e91;
}
ul#nrno-menu li a.destacada:hover {
  background-color: #07b0b3;
}
ul#nrno-menu li a.destacada:active,
ul#nrno-menu li a.destacada.active {
  background-color: #015455;
}
ul#nrno-menu li a span {
  display: inline-block;
  zoom: 1;
  *display: inline;
  line-height: 1.2em;
  vertical-align: middle;
  -webkit-align-self: center;
  -moz-align-self: center;
  -ms-align-self: center;
  -o-align-self: center;
  align-self: center;
  -webkit-flex-item-align: center;
  -moz-flex-item-align: center;
  -ms-flex-item-align: center;
  -o-flex-item-align: center;
  flex-item-align: center;
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
  transform: translateY(-5px);
  padding: 15px 10px;
  width: 100%;
}
ul#nrno-menu li a span i {
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 100%;
}
#nrno-banner {
  position: relative;
  padding-top: 1px;
  margin-top: -1px;
  margin-right: 1px;
  height: 400px;
  background: #323232;
}
#nrno-banner.presentacion {
  height: 448px;
}
#nrno-banner .cont-img {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  background: #323232;
  overflow: hidden;
}
#nrno-banner .cont-img .img {
  width: 100%;
  background: #666 fixed repeat center bottom;
  min-height: 100%;
}
#nrno-banner .cont-img img.img {
  position: absolute;
  width: 100%;
  bottom: 0;
}
#nrno-banner ul.menu {
  display: block;
  list-style: none;
  margin: auto;
  padding: 0;
  font-family: Merriweather, serif;
  font-style: italic;
  position: absolute;
  width: 22%;
  margin-top: 30px;
  z-index: 3;
}
#nrno-banner ul.menu li {
  display: block;
  list-style: none;
  margin: auto;
  padding: 0;
  margin-bottom: 1px;
}
#nrno-banner ul.menu li a {
  display: block;
  color: #e75f3b;
  background: #fff;
  background: rgba(255,255,255,0.85);
  padding: 10px;
  text-decoration: none;
  text-decoration: none;
  -webkit-transition: ease-in-out 250ms all;
  -moz-transition: ease-in-out 250ms all;
  -ms-transition: ease-in-out 250ms all;
  -o-transition: ease-in-out 250ms all;
  transition: ease-in-out 250ms all;
}
#nrno-banner ul.menu li a:hover {
  background: #fff;
  text-indent: 1em;
}
#nrno-banner ul.menu li a:active,
#nrno-banner ul.menu li a.active {
  background: #e75f3b;
  color: #fff;
}
#nrno-banner .article {
  position: absolute;
  margin-top: 30px;
  width: 100%;
  height: 92.5%;
}
#nrno-banner .article .section {
  position: absolute;
  height: 82%;
  width: 45.5%;
  left: 22%;
  color: #fff;
  background: rgba(50,50,50,0.85);
  margin-left: 30px;
  padding: 20px;
  -webkit-box-shadow: rgba(0,0,0,0.85) 4px 4px 16px 0;
  -moz-box-shadow: rgba(0,0,0,0.85) 4px 4px 16px 0;
  -ms-box-shadow: rgba(0,0,0,0.85) 4px 4px 16px 0;
  -o-box-shadow: rgba(0,0,0,0.85) 4px 4px 16px 0;
  box-shadow: rgba(0,0,0,0.85) 4px 4px 16px 0;
}
#nrno-banner .article .section + .section {
  display: none;
}
#nrno-banner .article .section h2 {
  color: #068e91;
  font-size: 32px;
  text-align: right;
  margin-top: 0;
  line-height: 0.575em;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #666;
  font-style: italic;
  font-weight: normal;
}
#nrno-banner .article .section .inner {
  max-height: 235px;
  overflow: auto;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  padding-right: 10px;
}
#nrno-banner .article .section .inner::-webkit-scrollbar {
  width: 6px;
}
#nrno-banner .article .section .inner::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background-color: rgba(204,204,204,0);
}
#nrno-banner .article .section .inner::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background: #666;
}
#nrno-banner .article .section .inner blockquote {
  text-align: justify;
  background: transparent url("../img/blockquote.png") no-repeat top left;
  margin: 20px 0;
  padding: 0 40px 0 40px;
  -webkit-background-size: 32px;
  -moz-background-size: 32px;
  -ms-background-size: 32px;
  -o-background-size: 32px;
  background-size: 32px;
}
#nrno-banner .article .section .inner p:first-child,
#nrno-banner .article .section .inner blockquote:first-child {
  padding-top: 0;
  margin-top: 0;
}
#nrno-banner .botones {
  position: absolute;
  right: 100px;
  bottom: 30px;
}
#nrno-banner .botones a {
  display: block;
  height: 12px;
  width: 12px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  border: 4px solid #fff;
  background: #e75f3b;
  position: relative;
  margin: 20px;
  cursor: pointer;
  text-decoration: none;
}
#nrno-banner .botones a span {
  display: none;
  background: #fff;
  color: #110101;
  padding: 5px 10px;
  position: absolute;
  bottom: 100%;
  left: 100%;
  margin-bottom: 15px;
  margin-left: 15px;
  white-space: nowrap;
}
#nrno-banner .botones a span:after {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  margin-top: -1px;
  left: 0;
  width: 0;
  height: 0;
  display: inline-block;
  zoom: 1;
  *display: inline;
  border-style: solid;
  border-width: 15px 15px 0 0;
  border-color: #fff transparent transparent transparent;
}
#nrno-banner .botones a:hover {
  background: #ed876c;
}
#nrno-banner .botones a:hover span {
  -webkit-animation: menuUp ease-in-out 250ms;
  -moz-animation: menuUp ease-in-out 250ms;
  -ms-animation: menuUp ease-in-out 250ms;
  -o-animation: menuUp ease-in-out 250ms;
  animation: menuUp ease-in-out 250ms;
  display: block;
}
#nrno-social,
#nrno-social ul,
#nrno-social li {
  display: inline-block;
  zoom: 1;
  *display: inline;
  list-style: none;
  margin: auto;
  padding: 0;
}
#nrno-social {
  float: right;
  white-space: nowrap;
  margin: 13px 0 15px;
}
#nrno-social a.lnk {
  display: inline-block;
  zoom: 1;
  *display: inline;
  background: #323232 center no-repeat;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -ms-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  height: 28px;
  width: 28px;
  text-decoration: none;
  margin-right: 4px;
  -webkit-transition: ease-in-out 250ms all;
  -moz-transition: ease-in-out 250ms all;
  -ms-transition: ease-in-out 250ms all;
  -o-transition: ease-in-out 250ms all;
  transition: ease-in-out 250ms all;
}
#nrno-social a.lnk:hover {
  background-color: #068e91;
}
#nrno-social a.lnk span {
  display: none;
}
#nrno-social a.lnk.Facebook {
  background-image: url("../img/ico-facebook.png");
}
#nrno-social a.lnk.Twitter {
  background-image: url("../img/ico-twitter.png");
}
#contenido {
  background: #fff;
  padding: 1px 20px 20px;
}
#contenido h2.titulo_biblio,
#contenido h2.titulo_presentacion {
  padding-bottom: 17px;
  border-bottom: 1px solid #666;
  font-style: italic;
}
#contenido h2.titulo_presentacion {
  color: #068e91;
}
#contenido p {
  text-align: justify;
}
#contenido p.creditos {
  font-style: italic;
  color: #000;
  font-weight: bold;
}
#contenido p.creditos small {
  font-weigth: normal;
}
#contenido p.creditos strong {
  font-weigth: normal;
  color: #666;
}
#nrno-libros {
  padding-bottom: 40px;
  min-height: 300px;
}
#nrno-libros p.tit {
  font-size: 14px;
  padding: 10px;
  color: #110101;
  text-decoration: none;
  margin: auto;
}
#nrno-libros ul,
#nrno-libros ul ul,
#nrno-libros ul li {
  display: inline-block;
  zoom: 1;
  *display: inline;
  list-style: none;
  margin: auto;
  padding: 0;
}
#nrno-libros ul {
  text-align: justify;
  margin: 0 -1.25%;
  font-style: italic;
}
#nrno-libros ul li {
  width: 22.5%;
  position: relative;
  vertical-align: top;
  margin: 10px 1.25%;
}
#nrno-libros ul li a {
  display: block;
  border: 1px solid transparent;
  width: 100%;
  min-height: 250px;
  margin: auto;
  position: relative;
  top: 0;
  overflow: hidden;
  padding: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  color: #110101;
  text-decoration: none;
  -webkit-transition: ease-in-out 250ms all;
  -moz-transition: ease-in-out 250ms all;
  -ms-transition: ease-in-out 250ms all;
  -o-transition: ease-in-out 250ms all;
  transition: ease-in-out 250ms all;
  -webkit-box-shadow: rgba(0,0,0,0) 0 0 0 0;
  -moz-box-shadow: rgba(0,0,0,0) 0 0 0 0;
  -ms-box-shadow: rgba(0,0,0,0) 0 0 0 0;
  -o-box-shadow: rgba(0,0,0,0) 0 0 0 0;
  box-shadow: rgba(0,0,0,0) 0 0 0 0;
}
#nrno-libros ul li a:hover {
  border: 1px solid #cfd8dc;
  -webkit-box-shadow: rgba(0,0,0,0.2) 4px 8px 10px 0;
  -moz-box-shadow: rgba(0,0,0,0.2) 4px 8px 10px 0;
  -ms-box-shadow: rgba(0,0,0,0.2) 4px 8px 10px 0;
  -o-box-shadow: rgba(0,0,0,0.2) 4px 8px 10px 0;
  box-shadow: rgba(0,0,0,0.2) 4px 8px 10px 0;
  top: -5px;
}
#nrno-libros ul li a:hover .hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
#nrno-libros ul li a:hover .figcaption {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
#nrno-libros ul li a:hover .img {
  -webkit-transform: scale(1.5) rotate(15deg);
  -moz-transform: scale(1.5) rotate(15deg);
  -ms-transform: scale(1.5) rotate(15deg);
  -o-transform: scale(1.5) rotate(15deg);
  transform: scale(1.5) rotate(15deg);
  opacity: 0.25;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
  filter: alpha(opacity=25);
}
#nrno-libros ul li .figure {
  overflow: hidden;
  display: block;
  margin: auto;
  padding: 0;
  position: relative;
  height: 200px;
  width: 100%;
}
#nrno-libros ul li .figcaption,
#nrno-libros ul li .hover {
  display: block;
  display: flex;
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-style: normal;
  padding: 10px;
  -webkit-transition: ease-in-out 500ms all;
  -moz-transition: ease-in-out 500ms all;
  -ms-transition: ease-in-out 500ms all;
  -o-transition: ease-in-out 500ms all;
  transition: ease-in-out 500ms all;
  text-shadow: rgba(0,0,0,0.5) 0 0 12px;
  line-height: 130px;
}
#nrno-libros ul li .figcaption span,
#nrno-libros ul li .hover span {
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: middle;
  line-height: 1.3em;
  -webkit-align-self: center;
  -moz-align-self: center;
  -ms-align-self: center;
  -o-align-self: center;
  align-self: center;
  -webkit-flex-item-align: center;
  -moz-flex-item-align: center;
  -ms-flex-item-align: center;
  -o-flex-item-align: center;
  flex-item-align: center;
}
#nrno-libros ul li .figcaption {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
#nrno-libros ul li .hover {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
#nrno-libros ul li .imagen {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  display: block;
  background: #068e91;
  overflow: hidden;
}
#nrno-libros ul li .img {
  position: absolute;
  width: 100%;
  min-height: 100%;
  display: block;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transition: ease-in-out 500ms all;
  -moz-transition: ease-in-out 500ms all;
  -ms-transition: ease-in-out 500ms all;
  -o-transition: ease-in-out 500ms all;
  transition: ease-in-out 500ms all;
  -webkit-transform: scale(1) rotate(0deg);
  -moz-transform: scale(1) rotate(0deg);
  -ms-transform: scale(1) rotate(0deg);
  -o-transform: scale(1) rotate(0deg);
  transform: scale(1) rotate(0deg);
}
#nrno-libros ul li em {
  display: none;
}
#chrono {
  overflow: auto;
  background-color: #cfd8dc;
  height: 200px;
}
#chrono img {
  height: 100%;
  width: auto;
  max-width: none;
}
#banner html,
#content html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
#banner body,
#content body {
  margin: 0;
}
#banner article,
#content article,
#banner aside,
#content aside,
#banner details,
#content details,
#banner figcaption,
#content figcaption,
#banner figure,
#content figure,
#banner footer,
#content footer,
#banner header,
#content header,
#banner hgroup,
#content hgroup,
#banner main,
#content main,
#banner menu,
#content menu,
#banner nav,
#content nav,
#banner section,
#content section,
#banner summary,
#content summary {
  display: block;
}
#banner audio,
#content audio,
#banner canvas,
#content canvas,
#banner progress,
#content progress,
#banner video,
#content video {
  display: inline-block;
  vertical-align: baseline;
}
#banner audio:not([controls]),
#content audio:not([controls]) {
  display: none;
  height: 0;
}
#banner [hidden],
#content [hidden],
#banner template,
#content template {
  display: none;
}
#banner a,
#content a {
  background-color: transparent;
}
#banner a:active,
#content a:active,
#banner a:hover,
#content a:hover {
  outline: 0;
}
#banner abbr[title],
#content abbr[title] {
  border-bottom: 1px dotted;
}
#banner b,
#content b,
#banner strong,
#content strong {
  font-weight: bold;
}
#banner dfn,
#content dfn {
  font-style: italic;
}
#banner h1,
#content h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
#banner mark,
#content mark {
  background: #ff0;
  color: #000;
}
#banner small,
#content small {
  font-size: 80%;
}
#banner sub,
#content sub,
#banner sup,
#content sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
#banner sup,
#content sup {
  top: -0.5em;
}
#banner sub,
#content sub {
  bottom: -0.25em;
}
#banner img,
#content img {
  border: 0;
}
#banner svg:not(:root),
#content svg:not(:root) {
  overflow: hidden;
}
#banner figure,
#content figure {
  margin: 1em 40px;
}
#banner hr,
#content hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  -o-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
#banner pre,
#content pre {
  overflow: auto;
}
#banner code,
#content code,
#banner kbd,
#content kbd,
#banner pre,
#content pre,
#banner samp,
#content samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
#banner button,
#content button,
#banner input,
#content input,
#banner optgroup,
#content optgroup,
#banner select,
#content select,
#banner textarea,
#content textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
#banner button,
#content button {
  overflow: visible;
}
#banner button,
#content button,
#banner select,
#content select {
  text-transform: none;
}
#banner button,
#content button,
#banner html input[type="button"],
#content html input[type="button"],
#banner input[type="reset"],
#content input[type="reset"],
#banner input[type="submit"],
#content input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
#banner button[disabled],
#content button[disabled],
#banner html input[disabled],
#content html input[disabled] {
  cursor: default;
}
#banner button::-moz-focus-inner,
#content button::-moz-focus-inner,
#banner input::-moz-focus-inner,
#content input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
#banner input,
#content input {
  line-height: normal;
}
#banner input[type="checkbox"],
#content input[type="checkbox"],
#banner input[type="radio"],
#content input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
#banner input[type="number"]::-webkit-inner-spin-button,
#content input[type="number"]::-webkit-inner-spin-button,
#banner input[type="number"]::-webkit-outer-spin-button,
#content input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
#banner input[type="search"],
#content input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  -o-box-sizing: content-box;
  box-sizing: content-box;
}
#banner input[type="search"]::-webkit-search-cancel-button,
#content input[type="search"]::-webkit-search-cancel-button,
#banner input[type="search"]::-webkit-search-decoration,
#content input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
#banner fieldset,
#content fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
#banner legend,
#content legend {
  border: 0;
  padding: 0;
}
#banner textarea,
#content textarea {
  overflow: auto;
}
#banner optgroup,
#content optgroup {
  font-weight: bold;
}
#banner table,
#content table {
  border-collapse: collapse;
  border-spacing: 0;
}
#banner td,
#content td,
#banner th,
#content th {
  padding: 0;
}
@-moz-keyframes bg_top {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
  }
}
@-webkit-keyframes bg_top {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
  }
}
@-o-keyframes bg_top {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
  }
}
@keyframes bg_top {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
  }
}
@-moz-keyframes bg_downUp {
  0% {
    background-position: center 0;
  }
  100% {
    background-position: center -254px;
  }
}
@-webkit-keyframes bg_downUp {
  0% {
    background-position: center 0;
  }
  100% {
    background-position: center -254px;
  }
}
@-o-keyframes bg_downUp {
  0% {
    background-position: center 0;
  }
  100% {
    background-position: center -254px;
  }
}
@keyframes bg_downUp {
  0% {
    background-position: center 0;
  }
  100% {
    background-position: center -254px;
  }
}
@-moz-keyframes opacityAlf {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  5% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  50% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  55% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@-webkit-keyframes opacityAlf {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  5% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  50% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  55% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@-o-keyframes opacityAlf {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  5% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  50% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  55% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@keyframes opacityAlf {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  5% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  50% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  55% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@-moz-keyframes upDown {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    -o-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-webkit-keyframes upDown {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    -o-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-o-keyframes upDown {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    -o-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes upDown {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    -o-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-moz-keyframes rotate_m {
  0% {
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  50% {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  100% {
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
}
@-webkit-keyframes rotate_m {
  0% {
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  50% {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  100% {
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
}
@-o-keyframes rotate_m {
  0% {
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  50% {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  100% {
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
}
@keyframes rotate_m {
  0% {
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  50% {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  100% {
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
}
@-moz-keyframes rotate_f {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(364deg);
    -moz-transform: rotate(364deg);
    -ms-transform: rotate(364deg);
    -o-transform: rotate(364deg);
    transform: rotate(364deg);
  }
}
@-webkit-keyframes rotate_f {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(364deg);
    -moz-transform: rotate(364deg);
    -ms-transform: rotate(364deg);
    -o-transform: rotate(364deg);
    transform: rotate(364deg);
  }
}
@-o-keyframes rotate_f {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(364deg);
    -moz-transform: rotate(364deg);
    -ms-transform: rotate(364deg);
    -o-transform: rotate(364deg);
    transform: rotate(364deg);
  }
}
@keyframes rotate_f {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(364deg);
    -moz-transform: rotate(364deg);
    -ms-transform: rotate(364deg);
    -o-transform: rotate(364deg);
    transform: rotate(364deg);
  }
}
@-moz-keyframes leftRight {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    transform: translate(10px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-webkit-keyframes leftRight {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    transform: translate(10px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-o-keyframes leftRight {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    transform: translate(10px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes leftRight {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    transform: translate(10px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-moz-keyframes menuDown {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  75% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@-webkit-keyframes menuDown {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  75% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@-o-keyframes menuDown {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  75% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@keyframes menuDown {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  75% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@-moz-keyframes menuUp {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
  }
  75% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@-webkit-keyframes menuUp {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
  }
  75% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@-o-keyframes menuUp {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
  }
  75% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@keyframes menuUp {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
  }
  75% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@-moz-keyframes loadingShow {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-20%);
    -moz-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    -o-transform: translateY(-20%);
    transform: translateY(-20%);
  }
  50% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
  }
}
@-webkit-keyframes loadingShow {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-20%);
    -moz-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    -o-transform: translateY(-20%);
    transform: translateY(-20%);
  }
  50% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
  }
}
@-o-keyframes loadingShow {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-20%);
    -moz-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    -o-transform: translateY(-20%);
    transform: translateY(-20%);
  }
  50% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
  }
}
@keyframes loadingShow {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-20%);
    -moz-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    -o-transform: translateY(-20%);
    transform: translateY(-20%);
  }
  50% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
  }
}
@-moz-keyframes loadingHide {
  0% {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
  }
  50% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(20%);
    -moz-transform: translateY(20%);
    -ms-transform: translateY(20%);
    -o-transform: translateY(20%);
    transform: translateY(20%);
  }
}
@-webkit-keyframes loadingHide {
  0% {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
  }
  50% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(20%);
    -moz-transform: translateY(20%);
    -ms-transform: translateY(20%);
    -o-transform: translateY(20%);
    transform: translateY(20%);
  }
}
@-o-keyframes loadingHide {
  0% {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
  }
  50% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(20%);
    -moz-transform: translateY(20%);
    -ms-transform: translateY(20%);
    -o-transform: translateY(20%);
    transform: translateY(20%);
  }
}
@keyframes loadingHide {
  0% {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
  }
  50% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(20%);
    -moz-transform: translateY(20%);
    -ms-transform: translateY(20%);
    -o-transform: translateY(20%);
    transform: translateY(20%);
  }
}
@-moz-keyframes cargando_open {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  75% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes cargando_open {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  75% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-o-keyframes cargando_open {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  75% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes cargando_open {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  75% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
