@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Lato')

@import 'nib'

@import './stylus/variables'
@import './stylus/mixin'

//@import './stylus/bootstrap/variables'
//@import './stylus/bootstrap/mixins'
@import './stylus/normalize'

//@import './stylus/eficon'
//@import './stylus/mybootstrap'
@import './stylus/estructura'
@import './stylus/animations.styl'
