html
  background #f4f2ef
  min-width $wrapper
html
body
  &.show-popUp
    overflow hidden !important
body.i i
  color purple !important

/*PARCHES DRUPAL*/
#main
  padding-top 0 !important
  .breadcrumb
    display none !important
#block-system-main > .content
  width 940px
#content
  .msie_10 &, .msie_9 &, .msie_8 &
    margin-top -4px


.text-center
  text-align center

#banner
#content
  font-family $textFont
  line-height 1.3em
  &, p
    font-size $fontSize
    line-height 20px
  h1,h2,h3,h4,h5,h6
    font-family $titleFont
    text-shadow none
    color $textColor
    padding $paddingBox 0
    margin $paddingBox auto
    font-weight normal
    line-height 1em

  > div
    //outline 1px solid rgba(0,255,0,.25)
    padding 0 10px
    max-width ($wrapper - 20)
    margin auto
    > *
      margin-left -1px !important //descuadre respecto al menu

#banner
  a
    color black


/*PLUGINS*/
.minimize_script
  position relative
  .show_cont_a
    text-align right

  .show_more
    cursor pointer
    display inline-block
    padding-bottom $paddingBox

    .p
      display none
    .m
      display inline

  &.mini
    .p
      display inline
    .m
      display none

#nrno-logo
  position fixed
  bottom $paddingBox
  right $paddingBox * 0.5
  z-index 1000
  a
    height 235px
    width 235px
    display block
    position relative
    opacity .75
    transform scale(.8) translate($paddingBox,$paddingBox)
    transition ease-in-out all 500ms
    .back-img
      background-color rgba($carton,0)
      border 3px dotted $carton_dark
      position absolute
      height 0
      bottom 0
      left 0
      right 0
      height 75%
      width 75%
      border-radius 100%
      z-index -1
      margin auto
      transition ease-in-out all 500ms
      animation rotate_f linear 20s infinite
    img
      position relative
      z-index 1
      top -10px
    &:hover
      transform scale(1) translate(0,0)
      opacity 1
      .back-img
        background-color rgba(white,1)
        border-color $carton_dark
        height 75%
        width 75%


#nrno-popUp
  display none
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  overflow auto
  background-color $gray4
  background-color rgba($white,.9)
  opacity 0
  transition ease-in-out 750ms all
  z-index 10000
  .show-popUp &
    display block
    opacity 1
    animation loadingShow ease-in-out 750ms
    .modal-cont
      animation loadingShow_int ease-in-out 750ms
  .hide-popUp &
    display block
    animation loadingHide ease-in-out 750ms

  .modal-cont
    background $black
    background rgba(0,0,0,.75)
    padding $paddingBox
    margin auto
    left 5%
    right 5%
    width 750px
    height auto
    top 5%
    bottom auto
    position absolute
    box-shadow $box-shadow3
    color $white
    transition ease-in-out width 250ms
  #popup-quit
    display block
    float right
    background rgba($gray,0)
    width $paddingBox *2
    height $paddingBox *2
    color white
    font-size $text_h3
    opacity .75
    cursor pointer
    text-align center
    margin auto $paddingBox
    transition ease-in-out 250ms all
    &:hover
      background rgba($gray,.33)
      opacity 1

  #popUp-iframe
    box-shadow $box-shadow3
    background $white
    margin auto
    position relative
    margin-top $paddingBox *4
    overflow auto 
    > iframe
    > img
      display none
      height auto
      width 100%
      margin auto
      max-width 100%
      max-height 100%
      transition ease-in-out 250ms all
      &.zoom
        min-width 100%
        min-height 100%
        height auto
    > iframe
      min-height 450px

  #popUp-pie
    margin auto
    position relative
    padding $paddingBox *2 0
    text-align justify
    &:empty
      display none

#content
  h1
    color orange
  a
    color $blue
/*menu prindipal*/
ul#nrno-menu
  defaultDisplay(inline-block)
  &
    background $salmon
    font-size 0
    width 99.8%
    display block

  li
    display inline-block
    width 12.4%
    margin auto
    vertical-align top
    border-top 1px solid $gray2
    border-bottom 1px solid $gray2
    min-height 30px
    .chrome &
      width 12.435%
    .msie_10 &, .msie_9 &, .msie_8 &
      display block
      float left
    & + li
      border-left 1px solid $gray2
    a
      background $salmon url(../img/bg-menu.png) center 90% no-repeat
      color $white
      display block
      display flex
      text-align center
      height 100px
      line-height 100px
      width 100%
      transition ease-in-out 250ms all
      font-family Merriweather, serif
      font-size $text_h6
      font-style normal
      font-weight lighter
      box-shadow rgba(0,0,0,0) 0 0 0
      position relative
      text-decoration none
      .msie_9 &, .msie_8 &
        display block
      &:hover
        z-index 1
        background-color $salmon_hover
        background-position-y 95%
        box-shadow rgba(0,0,0,0.5) 0 4px 12px 0
      &:active
      &.active
        background-color $salmon_active


      .text
        display inline-block
        line-height 1.2em
        vertical-align middle
        align-self center
        transform translateY(-5px)
        padding ($paddingBox *1.5 ) $paddingBox
        width 100%
        margin-left -($paddingBox)
        margin-right -($paddingBox)
        .msie_10 &, .msie_9 &, .msie_8 &
          display block
        span
          display inline-block
          width 100%
          i
            font-style italic
    &.destacada
      a
        background-color $aquamarine
        &:hover
          background-color $aquamarine_hover
        &:active
        &.active
          background-color $aquamarine_active

  &.hide-des
    li
      width 16.575%

      &.destacada
        display none
      a
        height 70px
        line-height 70px
        span
          display inline

#nrno-banner
  position relative
  padding-top 1px
  margin-top -1px
  margin-right 1px //descuadre respecto al menu
  height 400px//TEMPORAL
  background transparent
  overflow hidden
  &.mini
    height 0px !important
  &.maxi
    height 400px !important
    transition ease-in-out 2500ms all
    transition cubic-bezier(0.5, 0, 0.7, 1.4) 1000ms all
    &.presentacion
      height 448px !important
  &.presentacion
    height 448px

  .cont-img
    position absolute
    z-index 0
    width 100%
    height 100%
    background $gray2
    overflow hidden
    &:after
      content ""
      display block
      position absolute
      bottom 0
      height $paddingBox *2
      width 100%
      background linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.75))
      .presentacion&
        display none

    .img
      width 100%
      background $gray fixed repeat center bottom
      min-height 100%
      //background-size cover
    img.img
      position absolute
      width 100%
      bottom 0

  ul.menu
    defaultDisplay(block)
    font-family Merriweather, serif
    font-style italic
    position absolute
    width 22%
    margin-top $paddingBox *3
    z-index 3
    li
      defaultDisplay(block)
      margin-bottom 1px
      a
        display block
        position relative
        color $salmon
        background $white
        background rgba($white,.85)
        padding $paddingBox
        text-decoration none
        transition ease-in-out 250ms all
        transform scale(1) translateX(0em)
        box-shadow rgba(0,0,0,0) 0 0 0 0
        .pensamiento&
        .ahora&
          color $aquamarine

        &:hover
          background $white
          z-index 1
          transform scale(1.05) translateX(0.25em)
          box-shadow rgba(0,0,0,.33) 4px 4px 6px 0

        &:active
        &.active
          background $salmon
          color $white
          cursor default
          .pensamiento&
          .ahora&
            background $aquamarine
            color $white
          &:hover
            transform scale(1)
            box-shadow none
            text-indent 0

        small
          font-size 1em //para que small aplique solo en el titulo


  .article
    position absolute
    margin-top $paddingBox *3
    width 100%
    height 92.5%
    transition ease-in-out 250ms all
    right 0
    opacity 1
    &.hide-left
      opacity 0
      right 25%

    .section
      position absolute
      height 82%
      width 45.5%
      left 22%
      color $white
      background rgba($gray2,.85)
      margin-left $paddingBox *3
      padding $paddingBox *2
      box-shadow $box-shadow1

      + .section
        display none

      h2
        color $salmon
        font-size $text_h1
        text-align right
        margin-top 0
        //line-height 0.575em
        line-height 1em //por as que tienen doble linea
        padding-top 0
        padding-bottom $paddingBox *1.5
        margin-bottom $paddingBox *2
        border-bottom 1px solid $gray
        font-style italic
        font-weight normal
        .pensamiento&
        .ahora&
          color $aquamarine

        .small
          font-size 70%

      .inner
        max-height 78% //235px para que sirva en mas tamaños
        overflow auto
        overflow-x hidden
        scrollbar(rgba(#000,0))
        padding-right $paddingBox
        //text-align justify
        a
          color $salmon
          text-decoration underline
          transition ease-in-out 250ms all
          //display inline-block //muy lasrgas  se ven mal
          &:hover
            color $salmon_hover
          .pensamiento&
          .ahora&
            color $aquamarine
            &:hover
              color $aquamarine_hover

        .text-center
          display block

        blockquote
          position relative
          text-align justify
          background transparent url('../img/blockquote_ini.png') no-repeat top left
          margin $paddingBox *2 0
          padding 0 $paddingBox *4 0 $paddingBox *4
          background-size 32px
          &:after
            content ""
            display block
            position absolute
            top 0
            z-index 0
            width 90%
            height 100%
            background transparent url('../img/blockquote_end.png') no-repeat bottom right

        p:first-child
        blockquote:first-child
          padding-top 0
          margin-top 0
  .botones
    position absolute
    right $paddingBox *10
    bottom $paddingBox *3

    a
      display block
      height 12px
      width 12px
      border-radius 100px
      border 4px solid white
      background $salmon
      position relative
      margin $paddingBox *2
      cursor pointer
      text-decoration none
      animation opacityAlf ease-in-out 2s infinite
      .pensamiento&
      .ahora&
        background $aquamarine

      .figcaption //lleva pie de página de la imagen
        display none

      .tool-tip
        display none
        background $white
        color $textColor
        padding ($paddingBox *0.5) $paddingBox
        position absolute
        bottom 100%
        left 100%
        margin-bottom 15px
        margin-left 15px
        white-space nowrap
        &:after
          content ''
          display block
          position absolute
          top 100%
          margin-top -1px
          left 0
          arrow 15px 15px upLeft white

      &:hover
        background $salmon_hover
        animation none
        .pensamiento&
        .ahora&
          background $aquamarine_hover
        span
          animation menuUp ease-in-out 250ms
          display block

#nrno-social
  ulUnformat(inline-block)
  &
    float right
    white-space nowrap
    margin ($paddingBox *1.5) 0 ($paddingBox *1.5)
  a.lnk
    display inline-block
    background $gray2 center no-repeat
    background-size 100% 100%
    border-radius 100px
    height 28px
    width 28px
    text-decoration none
    margin-right 4px
    transition ease-in-out 250ms all
    &:hover
      background-color $aquamarine
    span
      display none
    &.Facebook
      background-image url(../img/ico-facebook.png)
    &.Twitter
      background-image url(../img/ico-twitter.png)
    &.Youtube
      background-image url(../img/ico-youtube.png)
    &.Blog
      background-image url(../img/ico-blog.png)

#contenido
#nrno-vieo
  background $white
  padding 1px ($paddingBox *2) ($paddingBox *2)
  h2.titulo_biblio
  h2.titulo_presentacion
    padding-bottom (($paddingBox *2) - 3px)
    border-bottom 1px solid $gray

  h2
    font-size 21px
    &.titulo_presentacion
    &.primary
      color $aquamarine

  p
    text-align justify
    margin-bottom $paddingBox
  .creditos
    font-style italic
    color black
    font-weight bold
    small
      font-weigth normal
    strong
      font-weight normal
      color $textGray
  .cred_antes
    border-top 1px dotted $gray
    padding-top $paddingBox

#nrno-libros
  //padding-bottom $paddingBox*4
  min-height 300px
  line-height 1.2em
  p.tit
    font-size $fontSize
    padding $paddingBox
    color $textColor
    text-decoration none
    margin auto
  ul
    ulUnformat(inline-block)
    &
      text-align justify
      margin 0 -1.5%
      font-style normal
      width 102.5%
      font-size 0
      display block
      text-align left
    li
      width 22.2%
      position relative
      vertical-align top
      margin $paddingBox 1.4%
      font-size $text_p
      .msie_11p &, .msie_10 &, .msie_9 &
        margin $paddingBox 1.25%
        width 22.4%

      a
        display block
        border 1px solid transparent
        width 100%
        min-height 250px
        margin auto
        position relative
        top 0
        overflow hidden
        padding 0
        border-radius $rad
        color $textColor
        text-decoration none
        transition ease-in-out 250ms all
        box-shadow rgba(0,0,0,0) 0 0 0 0
        &:focus
        &:hover
          border 1px solid $gray3
          box-shadow rgba(0,0,0,.2) 4px 8px 10px 0
          top -5px
          .figure:after
            box-shadow rgba(0,0,0,0) 0 0px 25px

          .hover
            opacity 0.5
          .figcaption
            opacity 0
          .img
            transform scale(1.5) rotate(15deg)
            opacity 0.25

      .figure
        overflow hidden
        display block
        margin auto
        padding 0
        position relative
        height 200px
        width 100%
        &:after
          content ""
          display block
          position absolute
          top 100%
          height $paddingBox *2
          width 100%
          border-radius 100%
          transition ease-in-out 250ms all
          box-shadow rgba(0,0,0,.5) 0 -4px 25px

      .figcaption
      .hover
        display block
        display flex
        color $white
        position absolute
        text-align center
        left 0
        right 0
        top 0
        bottom 0
        font-style normal
        padding $paddingBox
        transition ease-in-out 500ms all
        text-shadow rgba(0,0,0,.5) 0 0 12px
        line-height (150px - ( $paddingBox *2))
        span
          display inline-block
          vertical-align middle
          line-height 1.3em
          align-self center

      .figcaption
        opacity 0
      .hover
        opacity 0
        background url(../img/ico-zoom.png) center center no-repeat

      .imagen
        position absolute
        width 100%
        height 100%
        z-index 0
        display block
        background $aquamarine
        overflow hidden

      .img
        position absolute
        width 100%
        min-height 100%
        display block
        opacity 1
        transition ease-in-out 500ms all
        transform scale(1) rotate(0deg)
    /*Modificadores*/
    .biblioteca &//para previsualizar en la biblioteca
      margin 0 -0.25%
      width auto
      text-align center

      li
        width 24.4%
        margin 1px 0.15% 0
        a
          position relative
          min-height 0
          transform scale(1)
          border-radius 0
          &:hover
          &:focus
            top auto
            //box-shadow rgba(0,0,0,0)
            z-index 1
            transform scale(1.05)
            .hover
              opacity 1

          .figure:after
            display none
          .hover
            background-image none
.cont-vid
  iframe
    width 100%
    height 450px
    margin $paddingBox*1.5 auto $paddingBox*2

#chrono
  background $gray3 url(../img/presentacion/bg_cronologia.png) 0px center
  position relative
  //scrollbar(rgba(#000,0))
  animation bg_left 40s linear infinite
  
  .envol
    overflow auto
    overflow-y hidden
    position relative
    height 600px

  img
    position absolute
    top 50%
    margin-top -70px
    margin-left $paddingBox *2
    display block
    width auto

  .nrno-times
    position absolute
    width 1960px
    height 4px
    top 50%
    left 610px
    display block
    list-style none
    margin 0 ($paddingBox *2)
    font-size $text_small
    line-height 1.2em
    padding 0
    border-top dotted 4px white

    li
      position absolute
      margin 20px
      margin-left -74px
      border 1px solid $salmon
      transition ease-in-out 250ms all
      transform scale(1)
      cursor default
      &:last-child
        margin-right $paddingBox


      &:before
      &:after
        content ""
        display block
        position absolute
        left 50%
        transition ease-in-out 250ms all
        opacity 1
      &:before
        content ""
        display block
        width 1px
        height 20px
        border-left 1px dotted white
        margin-left -1px
      &:after
        border-radius 100px
        height 10px
        width 10px
        background $salmon
        margin-left -10px
        border 4px solid $aquamarine

      &:hover
        transform scale(1.25)
        &
          background rgba(0,0,0,.33)
          border-color rgba(0,0,0,.33)
        a
          border-color $salmon
          background $salmon
        strong
          color $black
        &:before
        &:after
          opacity 0

    a
      border 1px solid $aquamarine
      position relative
      display block
      padding ($paddingBox *0.5) ($paddingBox *0.5) 0 0
      margin ($paddingBox * -1) ($paddingBox * -1) ($paddingBox * 0.5) ($paddingBox *0.5)
      color $white
      text-align center
      width auto
      width 130px
      min-height 180px
      transition ease-in-out 250ms all

      > *
        margin 0 $paddingBox
        transition ease-in-out 250ms all

      strong
        display block
        font-size $text_h1= 32px
        font-style italic
        line-height 1.25em
        margin-bottom 0.25em
        border-bottom 1px solid #fff
        white-space nowrap
        padding $paddingBox 0 ($paddingBox * 0.25)
        &:before
        &:after
          display inline-block
          content "\25E6"
      small
        display block
        line-height 1.2em
        font-weight bold
      span
        display block
        padding ($paddingBox * 0.25) 0 $paddingBox

    .line_1
    .line_2
    .line_5
    .line_7
    .line_8
    .line_11
    .line_12
    .line_14
    .line_16
      bottom 15px
      &:before
        margin-top 10px
        top 100%
      &:after
        top 100%
        margin-top 20px

    .line_0
    .line_3
    .line_4
    .line_6
    .line_9
    .line_10
    .line_13
    .line_15
    .line_17
    .line_18
      top 15px
      &:before
        bottom 100%
        margin-bottom 20px
      &:after
        bottom 100%
        margin-bottom 30px

    .line_0
      left 0%
    .line_1
      left 5.5%
    .line_2
      left 14%
    .line_3
      left 14%
    .line_4
      left 22.5%
    .line_5
      left 31%
    .line_6
      left 31%
    .line_7
      left 39.5%
    .line_8
      left 48%
    .line_9
      left 48%
    .line_10
      left 57%
    .line_11
      left 65.5%
    .line_12
      left 74%
    .line_13
      left 74%
    .line_14
      left 82.5%
    .line_15
      left 91%
    .line_16
      left 100%
  .go-right
  .go-left
    display block
    position absolute
    width 50px
    top 50%
    height 200px
    line-height 200px
    color white
    margin-top -100px
    background rgba(255,255,255,.1)
    cursor pointer
    z-index 2
    transition ease-in-out 250ms all
    &:before
      display block
      text-align center
    &:hover
      background rgba(255,255,255,.25)
  .go-left
    left 0
    &:before
      content '\25C0'
  .go-right
    right 0
    z-index 10px
    &:before
      content '\25B6'

#zoomify
  .cont-zoomify
    ol, ul
      padding-left $paddingBox *2
      margin-left 0
      li
        padding-bottom $paddingBox
    .zml-left
      text-align justify
      width 38%
      float left
    .zml-right
      margin-top $paddingBox *2
      width 60%
      float right
      border 1px solid $gray4
      border-radius 0 0 $rad $rad
      p
        padding $paddingBox $paddingBox
  #myContainer2
    width auto
    height 500px
    margin auto
    background $gray4
  .btn-z
    display inline-block
    padding 1px 0px
    display block
    text-align left
    background white
    color $salmon
    border-radius 1px
    cursor pointer
    box-shadow rgba(0,0,0,0) 0px 0px 0px 0
    transition ease-in-out all 250ms
    &:hover
      text-indent 1em
      box-shadow rgba(0,0,0,0.25) 2px 2px 6px 0
      
    
      
.clear
  clear bottom
  width 100%
  height 1px
  display block