//colors base
$black= #110101
$white= #fff
$gray= #666666
$gray2= #323232
$gray3= #cfd8dc
$gray4= #ccc
$salmon= #e75f3b
$salmon_hover= lighten($salmon,25%)
$salmon_active= #672b1a
$aquamarine= #068e91
$aquamarine_hover= lighten($aquamarine,10%)
$aquamarine_active= #015455
$green= #b9db92
$yellow= #ffeb8b
$blue= #80B8E4
$carton= #f0be73
$carton_dark= #554023

/*colors use*/
$borderColor= $gray3

//colors text
$titleColor= $blueDrak
$titleFont= Merriweather, serif
$textColor= $black
$textFont= lato, arial, sans-serif
$textColorBold= #000
$textGray= $gray


//font-size
$text_small= 11px
$text_p= 14px
$text_h1= 32px
$text_h2= 28px
$text_h3= 24px
$text_h4= 18px
$text_h5= 16px
$text_h6= 12px
$text_sm= 10px


$fontSize= $text_p

//dimensiones y fomra
$wrapper = 960px
$screen-sm= 768px
$screen-md= 992px
$screen-lg= 1200px
$rad= 4px
$paddingBox= 10px
$sc_sm= 'max-width: 768px'

$box-shadow1= rgba(0,0,0,.85) 4px 4px 16px 0
$box-shadow2= rgba(0,0,0,0.20) 12px 12px 12px 0
$box-shadow3= rgba(0,0,0,0.5) 0 0 12px 0
$urlImg= 'https://www.googledrive.com/host/0B18yLgsGq8-xSmRTand4ZHRSeFE/'
$urlDomain= 'https://desafioabierto.cocreandoideasstaging.spigit.com/resources/sites/logos/site_501/'
