#banner
#content
  > div
    outline 1px solid rgba(0,0,0,0.25)
    padding 0 10px
    max-width ($wrapper - 20)
    margin auto

#banner
  a
    color black

#content
  h1
    color orange
/*menu prindipal*/
ul#nrno-menu
  defaultDisplay(inline-block)
  li
    display inline-block
    width 12.4%
    margin auto
    vertical-align top
    & + li
      margin-left 1px
    a
      background $salmon
      color $white
      display block
      text-align center
      height 100px
      line-height 100px
      width 100%
      transition ease-in-out 250ms all
      &:hover
        background $salmon_hover
      &:active
      &.active
        background $salmon_active

      &.destacada
        &:hover
          background $aquamarine_hover
        &:active
        &.active
          background $aquamarine_active

      span
        display inline-block
        line-height 1.2em
        vertical-align middle
