@import 'nib'
@import 'mixin.styl'
@import 'variables.styl'

html
    position relative
    font-family $textFont
    color $textColor
    background $bgColor

body
    font-family $textFont
    background transparent

h1,h2,h3,h4,h5,h6
    font-family $titleFont
    font-weight normal
textarea
    &, &.form-control
        resize vertical
        min-height 5em
a
    color $blue

#body_content
    transition all ease-in-out 1s
    opacity 0
        
    / .show-content &
        opacity 1
        
*[ng-show="loaded"]
    .load-wait &
        opacity 0
    .load-ok &
        opacity 1
        animation loadingShow 500ms ease-in-out 1
            
.ul-left
    padding-left $paddingBox
    
.container-fluid
    max-width $wrapper
    width 90%
    &.none
    &.show-alternas
        max-width 1920px//or none but this is for transition
        width 98%
    @media (max-width $screen-md)
        width 100%

.normal-warp
    white-space normal !important
.nowarp
    white-space nowrap !important
.weight-normal
    font-weight normal !important
.weight-bold
    font-weight bold !important

.text-left
    text-align left !important
.text-right
    text-align right !important
.text-center
    text-align center !important
.text-justify
    text-align justify !important

*[ng-click]
    cursor pointer
.modal[ng-click]
    cursor default
    
.tableOverflow
    max-width 100%
    padding-bottom 25px
    @media (max-width: $screen-md)
        overflow auto
    &.col-md-12
        padding-left 0
        padding-right 0
    
/*HEADER*/
            
.navbar-text
    margin-top $paddingTopMenu
    margin-bottom $paddingTopMenu
    
.navbar-brand
    padding-top $paddingTopMenu
    padding-bottom $paddingTopMenu
    height auto
    font-size $text_p
    .eficon
        vertical-line text-bottom
        font-size 16px

#globalLoadingWidget
    position fixed
    text-align center
    width 100%
    top 45px
    z-index 3
    p
        margin auto;
        width 200px
        padding 4px 20px
        text-align center
        border-radius $rad
        background $yellowLight
        box-shadow rgba(0,0,0,.15) 0 3px 4px 0
    &[style="display: block;"]
        animation cargando_open 250ms ease-in-out 1
        
#head
    background $white
    padding-top $paddingBox
    padding-bottom $paddingBox
    box-shadow rgba(0,0,0,0.1) 0 8px 12px 0

#headLogo
    height 48px
    img
        width 164px
        
.nav-user
    > li  > a .glyphicon-user
        background $gray3
        border-radius 1000px
        color $blueDrak
        height 20px
        width 20px
        line-height 18px
        text-indent 1px
        margin auto 4px
        opacity .5
        text-align center

//animación de cargando
.btn-percentage
    position relative
    transition all 250ms ease-in-out
    //min-width 250px
    text-align left
    padding-right 50px
    margin-right -60px
    &
    &:active
    &:hover
    &:focus
        background $blueDrak
        
    > *
        position relative
    .barBercentage
        background $aquamarine
        transition all 250ms ease-in-out
        position absolute
        display block
        height 100%
        z-index 0
        width 0
        left 0
        top 0
    .glyphicon-refresh
        animation rotate_f 1s linear infinite
    
    / .numPercentage
        width 50px
        color $white
        position relative
        
    &.btn-percentage-100
        .glyphicon-refresh
            animation none            

    & .textPercentage
    / .infoPercentage
    / .numPercentage
        display none
    / .textPercentage
    & .infoPercentage
    & + .numPercentage
        display inline-block

#maincontent
    padding-bottom $paddingBox

.nub-contTools
    background white
    padding-top 1px
    padding-bottom $paddingBox
    margin-top 0
    margin-bottom 40px
    position relative
    box-shadow rgba(0,0,0,0.1) 0 8px 12px 0
    .btn
        @media (max-width $screen-xs)
            width 100%
            display block
            text-align left
            border-radius 0

    
.nub-filters
    clear both
    padding 5px $paddingBox 10px
    border-radius $rad*2
    border 1px solid $borderColor
    margin $paddingBox auto 5px
    
    .modal-header
        h1, h2, h3, h4
            margin auto
    .modal-body
        padding $paddingBox 0 $paddingBox*0.5
    .modal-footer
        padding $paddingBox*0.5 0
    label
        font-weight normal
.nub-inner-filters
    padding-bottom $paddingBox

#messageWidget
    position absolute
    max-width $wrapper - $paddingBox
    margin auto
    left $paddingBox
    right $paddingBox
    bottom -30px
    
//Panel desplazable
.hide-alternas
.show-alternas
    position relative
    transition all 500ms ease-in-out
    
.contains-pan
    transition all 500ms ease-in-out
    &.col-md-12
        //corrige en responsive
        @media (max-width $screen-md)
            width 100%
    
.info-pan
    transition all 500ms ease-in-out
    z-index 10
    position absolute
    .nav-tabs
        
        border none
        > li > a
            &
            &:focus
            &:hover
                border none
                padding 5px 10px
    .section-pan
        background white
        box-shadow: rgba(0,0,0,0.1) 4px 4px 8px;
    .modal-header
        .close
            margin-right -10px
        h1, h2, h3, h4
            margin auto
    .modal-body
        overflow hidden
        max-height 450px
        overflow-y auto
//drive picker
.picker
    &.picker-dialog-bg
        z-index 10000
    &.picker-dialog
        z-index 10001
        overflow auto
        max-width 95%
        margin auto 1%

.list-rating
    ulUnformat(block)
    > li
        line-height: 1.2em;
        padding 0px 4px 0px
        background white
        position relative
        
        & + li
            padding-top 10px
            border-top 1px solid $borderColor
            
        .comment
            &.mini
                transition all 1s cubic-bezier(0, 0, 0, 1.15)
                overflow hidden
                max-height 4.5em
            &.maxi
                transition all 1s cubic-bezier(1, 0, 1, 1.15)
                max-height 50em
        .comment-toggle
            background white
            position relative
            z-index 1
            text-align center
            display block
            a
                display block
                padding 4px
                box-shadow: rgba(0,0,0,0) 0 0px 0px;
                transition all 250ms ease-in-out
                &:hover
                    box-shadow: rgba(0,0,0,0.25) 0 -4px 0px;
        .user
            background white
            position relative
            z-index 1
            display block
        .qualify
            background white
            position relative
            z-index 1
            display block
            padding-bottom 10px
        
.userAssits
    .assits
        padding 4px $paddingBox
        display block
        overflow hidden
        white-space nowrap
        color $textColor
        transition all 250ms ease-in-out 
        &:hover
            background rgba(255,255,255,0.5)
            text-indent 0.25em
.base-white
    background $gray4
    padding $paddingBox
    margin-bottom $paddingBox
    
.nonInfoSection
    @extend .base-white
    text-align center
    margin-top 125px
.img-noElements
    margin -128px auto auto
    display block
    background center top no-repeat
    background-size 100% 100%
    height 216px
    width 216px
    border-radius 1000px
    box-shadow rgba(0,0,0,0.1) 0 12px 12px 0
    &.projects
        background-image url(../img/modulos/ban_projects.png)
    &.sessions
        background-image url(../img/modulos/ban_sessions.png)
    &.users
        background-image url(../img/modulos/ban_users.png)
    &.billing
        background-image url(../img/modulos/ban_billing.png)
    &.p-i
        background-image url(../img/bot-error_2.png)
    &.p-404
        background-image url(../img/bot-error.png)
    &.p-505
        background-image url(../img/bot-error505.png)
    &.p-403
        background-image url(../img/bot-error505.png)
.home-icons
    ulUnformat(inline-block)
    width 100%
    text-align center
    color $gray
    & + p
        text-align center
        padding-top $paddingBox
    > li
        &.active
            display none
        > a
            width 128px
            display inline-block
            color $textColor
            font-size $text_h4
            height 180px
            transition all ease-in-out 250ms
            margin 0 $paddingBox $paddingBox
            
            .img-ico
                display block
                height 128px
                width 128px
                margin auto -$paddingBox
                background center 0 no-repeat $blueDrak
                box-shadow rgba(0,0,0,.5) 0 4px 8px 0 inset
                background-size 100% auto
                position relative
                top 0
                transition all ease-in-out 250ms
                border-radius 1000px
            
                &[class*="Proyectos"]
                    background-image url(../img/modulos/ban_projects_ini.png)
                &[class*="Sesiones"]
                    background-image url(../img/modulos/ban_sessions_ini.png)
                &[class*="Usuarios"]
                    background-image url(../img/modulos/ban_users_ini.png)
                &[class*="Facturaci"]
                    background-image url(../img/modulos/ban_billing_ini.png)
                &[class*="Configuraci"]
                    background-image url(../img/modulos/ban_settings_ini.png)
            
            &:hover
                text-decoration none
                color $primary
                .img-ico
                    top -5px
                    box-shadow rgba(0,0,0,.25) 0 -4px 8px 0 inset
                    background-position center 5px
                    background-color $primary
            
//fondo blanco para cuadrados
.text-square
    background rgba(255,255,255,0.75)
    padding $paddingBox
    overflow hidden
    
.txtimg-lat
    color $blueDrak
    text-align center
    
.form-inner
    @extend .text-square
    label
    .control-label
        text-align left
        font-weight normal
    dl
        overflow hidden
        dt
            float left
            margin-right 0.5em
        dd
            clear right
            margin-bottom 0.2em

.notes
    background $gray3
    border 1px dashed $blueDrak
    padding $paddingBox
    margin $paddingBox
    font-size $text_small
        
/*FOOTER COMPORTAMIENTO*/
#footer
    position fixed
    bottom 0
    right 0
    text-align right
    width 100%
    
    > address
        margin auto
        padding 4px
        position relative
        transition all .5s ease-in-out
        top 1em
        max-width none
        width 100%
        &:hover
            width 100%
            top 0
            p
                opacity 1
            a
                color white
                &:before
                    bottom 0px
                &:after
                    bottom -80px

    p
        background $white
        border-top $gray2 1px solid
        padding 5px
        font-size $text_small
        opacity 0
        bottom 0
        position absolute
        width 100%
        margin auto
        transition all .5s ease-in-out
        text-align center
        
    .ef-link
        display inline-block
        position absolute
        color transparent
        font-size 22px
        line-height 2em
        z-index 1
        right 0
        bottom 0
        white-space nowrap
        padding 10px 10px 0
        transition all .5s ease-in-out
        cursor pointer
        &:hover
            text-decoration none
        &:before
            content ''
            transition all .5s ease-in-out
            arrow 200px 60px downRight $corp1
            display block
            position absolute
            z-index -1
            bottom -80px
            right 0
        &:after
            content ''
            display block
            transition all .5s ease-in-out
            background url(../img/logo_ef.svg) center center no-repeat white
            border-radius 1000px
            background-size 32px auto
            width 42px
            height 42px
            position absolute
            margin auto
            bottom 20px
            right 10px
            z-index -1
        