//colors base
$black= #333
$white= #fff
$gray= #666666
$gray2= #f9fafa
$gray3= #e0e0e0
$gray4= #fcfdfd
$gray5= #cfd8dc
$orange= #ff7310
$green= #b9db92
$yellow= #ffeb8b
$yellowLight= #fff9c4
//$aquamarine= #00acc1
$blue= #80B8E4
$red= #f88e86
$aquamarine= #59C6D9
$blueDrak= #263238
$blueDrak_hover= #515b60

/*colors use*/
$primary= $aquamarine
$bgColor= $gray2
$borderColor= $gray5
$label_info= $yellowLight
$corp1 = #014ebb

//colors text
$titleColor= $blueDrak
$titleFont= 'Questrial', sans-serif
$textColor= $black
$textFont= 'ubuntu', sans-serif
$textColorBold= #000
$textGray= $gray


//font-size
$text_small= 11px
$text_p= 14px
$text_h1= 32px
$text_h2= 28px
$text_h3= 24px
$text_h4= 18px
$text_h5= 16px
$text_h6= 12px
$text_sm= 10px

$fontSize= $text_p

//dimensiones y fomra
$wrapper = 1024px
$rad= 4px
$paddingBox= 20px
$paddingTopMenu= 8px
$marginBox= 20px


$box-shadow1= rgba(0,0,0,0.33) 0 0 24px 0
$box-shadow2= rgba(0,0,0,0.20) 12px 12px 12px 0
$urlImg= 'https://www.googledrive.com/host/0B18yLgsGq8-xSmRTand4ZHRSeFE/'
$urlDomain= 'https://desafioabierto.cocreandoideasstaging.spigit.com/resources/sites/logos/site_501/'